.example-card {
    max-width: 400px;
  }
  
 
  .card{
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 10px;
  }
    
   
.bookDetails{
  padding-left: 30px;
  
}
  